<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Order Date</th>
        <th scope="col">Customer Email</th>
        <th scope="col">Customer Notes</th>
        <th scope="col">Items</th>
        <th scope="col">Address</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
      </tr>
    </tbody>
  </table>