<div  class="container mt-5 mb-5">
  <button style="margin-left:1027px" *ngIf="!isEditable" class="btn btn-primary" (click)="edit()">Edit</button>

<div style="padding-top: 20px;" class="container profile-form">
  <div class="card-container">
    <div class="card-flip">
      <div class="card front">
            <div class="card">
              <div class="card-header">
                <h4>Profile</h4>
              </div>
              <div class="card-body">

                <div class="form-group">
                  <label>Email</label>
                  <div class="input-group">
<!--                    <div class="input-group-prepend">-->
<!--                      <div class="input-group-text">-->
<!--&lt;!&ndash;                        <i class="fas fa-e"></i>&ndash;&gt;-->
<!--                      </div>-->
<!--                    </div>-->
                    <input pattern="[0-9]{11}" required [disabled]="true" type="tel" class="form-control phone-number" [value]="customer.email">
                  </div>
                </div>


                <div class="form-group">
                  <label>Phone Number</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="fas fa-phone"></i>
                      </div>
                    </div>
                    <input pattern="[0-9]{11}" required [disabled]="!isEditable" type="tel" class="form-control phone-number" [value]="customer.phoneNumber">
                  </div>
                </div>
                <div class="form-group">
                  <label>First Name</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="far fa-user"></i>
                      </div>
                    </div>
                    <input [disabled]="!isEditable" type="text" class="form-control" [value]="customer.firstName">
                  </div>
                </div>
                <div class="form-group">
                  <label>Last Name</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="far fa-user"></i>
                      </div>
                    </div>
                    <input [disabled]="!isEditable" type="text" class="form-control" [value]="customer.lastName">
                  </div>
                </div>
                <div class="form-group">
                  <label>User Name</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="far fa-user"></i>
                      </div>
                    </div>
                    <input [disabled]="!isEditable" type="text" class="form-control" [value]="customer.userName">
                  </div>
                </div>
                <div class="form-group">
                  <label>Address</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="fas fa-address-book"></i>
                      </div>
                    </div>
                    <input [disabled]="!isEditable" type="text" class="form-control" placeholder="Street" [value]="customer.address?.street">
                    <input [disabled]="!isEditable" type="text" class="form-control" placeholder="City" [value]="customer.address?.city">
                    <input [disabled]="!isEditable" type="text" class="form-control" placeholder="Country" [value]="customer.address?.country">
                  </div>
                </div>
                <button [hidden]="!isEditable" class="btn btn-primary mr-1" (click)="update(customer)">Save Changes</button>
                <button [hidden]="!isEditable" class="btn btn-secondary mr-1" (click)="cancel()">Cancel</button>
              </div>
            </div>
      </div>
    </div>
  </div>
</div>
</div>
