<!-- mobile site__header -->
<header class="site__header d-lg-none">
  <div class="mobile-header mobile-header--sticky mobile-header--stuck">
    <div class="mobile-header__panel">
      <div class="container">

        <div class="mobile-header__body">
          <button class="mobile-header__menu-button">
            <svg width="18px" height="14px">
              <use xlink:href="../../../assets/images/sprite.svg#menu-18x14"></use>
            </svg>
          </button>

          <a class="mobile-header__logo" [routerLink]="['/home']">

            <img src="../../../assets/images/logos/original-logo.png" />
          </a>
          <div class="mobile-header__search" [class.mobile-header__search--opened]="isMobileHeaderOpened">
            <form class="mobile-header__search-form" action="#"><input class="mobile-header__search-input" name="search"
                placeholder="Search over 10,000 products" aria-label="Site search" type="text" autocomplete="off">
              <button class="mobile-header__search-button mobile-header__search-button--submit" type="submit">
                <svg width="20px" height="20px">
                  <use xlink:href="../../../assets/images/sprite.svg#search-20"></use>
                </svg>
              </button>
              <button class="mobile-header__search-button mobile-header__search-button--close" type="button">
                <svg width="20px" height="20px">
                  <use xlink:href="../../../assets/images/sprite.svg#cross-20"></use>
                </svg>
              </button>

              <div class="mobile-header__search-body"></div>
            </form>
          </div>
          <div class="mobile-header__indicators">

            <div class="indicator indicator--mobile-search indicator--mobile d-sm-none">
              <button class="indicator__button" (click)="toggleMobileHeader()"><span class="indicator__area"><svg width="20px" height="20px">
                    <use xlink:href="../../../assets/images/sprite.svg"></use>
                    <!--                                                <use xlink:href="../../../assets/images/sprite.svg#search-20"></use>-->
                  </svg></span></button>
            </div>
            <!-- <div class="indicator indicator--mobile d-sm-flex d-none"><a href="wishlist.html"
                class="indicator__button"><span class="indicator__area"><svg width="20px" height="20px">
                    <use xlink:href="../../../assets/images/sprite.svg#heart-20"></use>

                  </svg> <span class="indicator__value">0</span></span></a></div> -->
<!--            <div class="indicator indicator&#45;&#45;mobile">-->
<!--              <a [routerLink]="['/cart']" class="indicator__button"><span class="indicator__area">-->
<!--                  <svg width="20px" height="20px">-->
<!--                    <use xlink:href="../../../assets/images/sprite.svg#cart-20"></use>-->
<!--                  </svg> <span class="indicator__value">3</span></span></a>-->
<!--            </div>-->


          </div>
        </div>
      </div>
    </div>
  </div>
</header><!-- mobile site__header / end -->
<!-- desktop site__header -->
<header class="site__header d-lg-block d-none">
  <div class="site-header">
    <!-- .topbar -->
    <div class="site-header__topbar topbar">
      <div class="topbar__container container">
        <div class="topbar__row">

          <div class="topbar__item topbar__item--link"><a class="topbar-link" [routerLink]="['/about-us']">About Us</a></div>
          <div class="topbar__item topbar__item--link"><a class="topbar-link" [routerLink]="['/contacts']">Contacts</a></div>


          <div class="topbar__item topbar__item--link"><a class="topbar-link" href="#">Store Location</a></div>
          <!-- <div class="topbar__item topbar__item--link"><a class="topbar-link" href="track-order.html">Track Order</a>
          </div> -->
          <!-- <div class="topbar__item topbar__item--link"><a class="topbar-link" href="blog-classic.html">Blog</a></div> -->
          <div class="topbar__spring"></div>
          <div class="topbar__item">

            <div *ngIf="isLoggin()" class="topbar-dropdown" [class.topbar-dropdown--opened]="isMyAccountOpened">
              <button class="topbar-dropdown__btn" type="button" (click)="toggleMyAccount()" >MyAccount
                <svg width="7px" height="5px">
                  <use xlink:href="../../../assets/images/sprite.svg#arrow-rounded-down-7x5"></use>
                </svg>
              </button>

              <div class="topbar-dropdown__body">
                <!-- .menu -->
                <ul class="menu menu--layout--topbar">
                  <li *ngIf='isLogged' ><a  routerLink='/login'>Login</a></li>
                  <li *ngIf='isLogged'><a  routerLink='/signup'>Register</a></li>
                  <li *ngIf='!isLogged'><a  routerLink='/customer/profile'>Profile</a></li>
                  <li *ngIf='!isLogged'><a  (click)="logOut()">LogOut</a></li>
                </ul><!-- .menu / end -->
              </div>
            </div>
          </div>

          <div class="topbar__item">

            <!-- <div class="topbar-dropdown">
              <button class="topbar-dropdown__btn" type="button">Language: <span class="topbar__item-value">EN</span>
                <svg width="7px" height="5px">
                  <use xlink:href="../../../assets/images/sprite.svg#arrow-rounded-down-7x5"></use>
                </svg>
              </button>


            </div> -->
          </div>
        </div>
      </div>
    </div><!-- .topbar / end -->
    <div class="site-header__middle container">


      <div class="site-header__logo"><a [routerLink]="['/home']">

          <img src="../../../assets/images/logos/original-logo.png" />
        </a></div>
      <div class="site-header__search">
        <div class="search">
          <form class="search__form" action="#"><input class="search__input" name="search"
              placeholder="Search over 10,000 products" aria-label="Site search" type="text" autocomplete="off">
            <button class="search__button" type="submit">
              <svg width="20px" height="20px">
                <use xlink:href="../../../assets/images/sprite.svg#search-20"></use>
              </svg>
            </button>

            <div class="search__border"></div>
          </form>
        </div>
      </div>
      <div class="site-header__phone">
        <div class="site-header__phone-title text-center">Customer Service</div>
        <div class="site-header__phone-number">(+20) 102-426-1189</div>
      </div>
    </div>
    <div class="site-header__nav-panel">
      <div class="nav-panel">
        <div class="nav-panel__container container">
          <div class="nav-panel__row">
            <div class="nav-panel__departments">

            </div><!-- .nav-links -->
            <div class="nav-panel__nav-links nav-links">
              <ul class="nav-links__list">

                <li class="nav-links__item nav-links__item--with-submenu"><a  routerLink='/home'>
                    <span>Home <svg class="nav-links__arrow" width="9px" height="6px">

                      </svg></span></a>


                </li>



                <li class="nav-links__item nav-links__item--with-submenu"><a [routerLink]="['/shop']"><span>Shop <svg
                        class="nav-links__arrow" width="9px" height="6px">

                      </svg></span></a>

                </li>

                <li class="nav-links__item"><a [routerLink]="['/services']">
                    <span>Services</span></a>
                </li>

                <li class="nav-links__item"><a [routerLink]="['/contacts']">
                    <span>Contact Us</span></a>
                </li>
              </ul>
            </div><!-- .nav-links / end -->
            <div class="nav-panel__indicators ">

              <!-- <div class="indicator">
                <a href="wishlist.html" class="indicator__button"><span class="indicator__area"><svg width="20px"
                      height="20px">

                      <use xlink:href="../../../assets/images/sprite.svg#heart-20"></use>
                    </svg></span></a>
              </div> -->
              <div (click)="getShoppingCart()" class="indicator indicator--trigger--click" [class.indicator--opened]="isShoppingCartOpened">
                <a class="indicator__button mx-1" (click)="toggleShoppingCart()">
                  <span class="indicator__area">
                    <svg width="20px" height="20px">
                      <use xlink:href="../../../assets/images/sprite.svg#cart-20"></use>
                    </svg>
                  </span>
                </a>
                <div class="indicator__dropdown">
                  <!-- .dropcart -->
                  <div class="dropcart">


                    <div *ngFor="let item of cartItems;" class="dropcart__products-list">

                      <div class="dropcart__product">

                        <div class="dropcart__product-image">
                          <a >
                            <img  [src]="item.product.images[0].url" [alt]="item.product.name"></a>
                        </div>
                        <div class="dropcart__product-info">
                          <div class="dropcart__product-name"><a>{{item.product.name}}</a></div>

                          <ul class="dropcart__product-options">
                            <li>Brand: {{item.product.brand.name}}</li>
                            <li>Species: {{item.product.species.speciesName}}</li>
                          </ul>

                          <div class="dropcart__product-meta"><span
                              class="dropcart__product-quantity">{{item.quantity}}</span> x <span
                              class="dropcart__product-price">{{item.product.price | currency: 'EGP':true:'2.0'}}</span></div>
                        </div>

                        <button (click)="removeItemFromShoppingCart(item.product.id?item.product.id: 0)" type="button"
                          class="dropcart__product-remove btn btn-light btn-sm btn-svg-icon">
                          <svg width="10px" height="10px">
                            <use xlink:href="../../../assets/images/sprite.svg#cross-10"></use>
                          </svg>
                        </button>
                      </div>


                    </div>



                    <div class="dropcart__totals">
                      <table>
                        <!-- <tr>
                          <th>Subtotal</th>
                          <td>$5,877.00</td>
                        </tr>                       -->

                        <tr>
                          <th>Total</th>
                          <td>{{total | currency: 'EGP':true:'2.0'}}</td>
                        </tr>
                      </table>
                    </div>

                    <div class="dropcart__buttons">

                      <a class="btn btn-secondary" (click)="closeShoppingCart()"  [routerLink]="['/cart']">View Cart</a>

                      <a class="btn btn-primary" (click)="closeShoppingCart()" [routerLink]="['/checkout']">Checkout</a>

                    </div>

                  </div><!-- .dropcart / end -->
                </div>

              </div>

              <span *ngIf="!isLoggin()">

                <li  class="nav-links__item nav-panel__nav-links nav-links" style=" list-style: none;">
                  <button type="button" class="customButtons" routerLink='/signup'>
                    <span  >sign up</span></button>
                </li>
              </span>

              <li *ngIf="!isLoggin()" class="nav-links__item nav-panel__nav-links nav-links" style=" list-style: none;">
                <button class="customButtons" type="button" routerLink='/login'>
                  <span>Login</span></button>

              </li>

              <li *ngIf="isLoggin()" class="nav-links__item nav-panel__nav-links nav-links" style=" list-style: none;">
                <button type="button" class="customButtons" (click)="logOut()" >
                  <span>log out</span></button>
              </li>

            </div>


          </div>

        </div>

      </div>

    </div>
  </div>
</header>
<!-- desktop site__header / end -->
