.customButtons{
    background-color: #3d464d;
    border-color: #494f4b;
    border-radius: 18px;
    margin-top: 12px;
    color: #ffffff;
    font-size: inherit;
    width: 92px;
    font-weight: 600;

}