<div class="about-section row">

  <div class="col-3">
    <img class="about-img" alt="cat" src="assets/images/about-us/cat.png">
  </div>

  <div class="col">
    <h2>About Us</h2>
    <h5 class="font-weight-light"><p>At Pet Store we love pets</p>Pet Store is retailer of services and solutions for
      the lifetime needs of pets. You will find a wide range of pet products and services for pets.
      Whether you’re in need for your pet, you’re sure to find it here.
    </h5>
  </div>

  <div class="col-3">
    <img class="about-img" alt="rabbit" src="assets/images/about-us/rabbit.png">
  </div>

</div>


<section class="pt-5 pb-5">
  <div class="container">
    <div class="row justify-content-center">
      <h2 class="mb-3" style="text-align:center">Made With <span
        style="color: #e25555;font-size: xxx-large">&hearts;</span> By Our Team </h2>

    </div>
    <div class="row  d-flex justify-content-center">

      <div class="col-1 text-right align-self-center">
        <a class="btn btn-outline-warning mb-3 mr-1" href="#carouselIndicators" role="button" data-slide="prev">
          <i class="fa fa-arrow-left"></i>
        </a>
      </div>

      <div class="col-10 align-content-center">
        <div id="carouselIndicators" class="carousel slide" data-ride="carousel" data-wrap="true">

          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">

                <div class="col-md-4 mb-3">
                  <div class="card">
                    <img class="img-fluid img-thumbnail" alt="Mahmoud Ali" src="assets/images/about-us/MAK.jpg">
                    <div class="card-body">
                      <h5 class="card-text">Mahmoud Ali</h5>
                      <p class="title">Software Engineer</p>
                      <!--                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>-->
                      <p class="d-flex justify-content-center"><a
                        class="btn btn-outline-info justify-content-center mr-2"
                        href="#">
                        <i class="fab fa-linkedin-in"></i>
                      </a>
                        <a class="btn btn-outline-dark justify-content-center"
                           href="#">
                          <i class="fab fa-github"></i>
                        </a>
                      </p>
                    </div>
                  </div>
                </div>

                <div class="col-md-4 mb-3">
                  <div class="card">
                    <img class="img-fluid img-thumbnail" alt="Hagar Fouad" src="assets/images/about-us/Hagar.jpg">
                    <div class="card-body">
                      <h5 class="card-text">Hagar Fouad</h5>
                      <p class="title">Software Engineer</p>
                      <p class="d-flex justify-content-center"><a
                        class="btn btn-outline-info justify-content-center mr-2"
                        href="#">
                        <i class="fab fa-linkedin-in"></i>
                      </a>
                        <a class="btn btn-outline-dark justify-content-center"
                           href="#">
                          <i class="fab fa-github"></i>
                        </a>
                      </p>
                    </div>
                  </div>
                </div>

                <div class="col-md-4 mb-3">
                  <div class="card">
                    <img class="img-fluid img-thumbnail" alt="Ebrahim Mohamed" src="assets/images/about-us/Ebrahim.jpg">
                    <div class="card-body">
                      <h5 class="card-text">Ebrahim Mohamed</h5>
                      <p class="title">Software Engineer</p>
                      <p class="d-flex justify-content-center"><a
                        class="btn btn-outline-info justify-content-center mr-2"
                        href="#">
                        <i class="fab fa-linkedin-in"></i>
                      </a>
                        <a class="btn btn-outline-dark justify-content-center"
                           href="#">
                          <i class="fab fa-github"></i>
                        </a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="carousel-item">
              <div class="row">

                <div class="col-md-4 mb-3">
                  <div class="card">
                    <img class="img-fluid img-thumbnail" alt="Ahmed El Sayed" src="assets/images/about-us/Sayed.jpg">
                    <div class="card-body">
                      <h5 class="card-text">Ahmed El Sayed</h5>
                      <p class="title">Software Engineer</p>
                      <p class="d-flex justify-content-center"><a
                        class="btn btn-outline-info justify-content-center mr-2"
                        href="#">
                        <i class="fab fa-linkedin-in"></i>
                      </a>
                        <a class="btn btn-outline-dark justify-content-center"
                           href="#">
                          <i class="fab fa-github"></i>
                        </a>
                      </p>

                    </div>

                  </div>
                </div>
                <div class="col-md-4 mb-3">
                  <div class="card">
                    <img class="img-fluid img-thumbnail" alt="Yahya Allam" src="assets/images/about-us/Yahya.jpg">
                    <div class="card-body">
                      <h5 class="card-text">Yahya Allam</h5>
                      <p class="title">Software Engineer</p>
                      <p class="d-flex justify-content-center"><a
                        class="btn btn-outline-info justify-content-center mr-2"
                        href="#">
                        <i class="fab fa-linkedin-in"></i>
                      </a>
                        <a class="btn btn-outline-dark justify-content-center"
                           href="#">
                          <i class="fab fa-github"></i>
                        </a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="col-1 text-left align-self-center">
        <a class="btn btn-outline-warning mb-3 " href="#carouselIndicators" role="button" data-slide="next">
          <i class="fa fa-arrow-right"></i>
        </a>
      </div>
    </div>
  </div>
</section>


