<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Image</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Brand</th>
        <th scope="col">species</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Rate</th>
        <th scope="col">Discount</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products ;let i=index">
        <th scope="row">{{i}}</th>
        <!-- todo -->
        <td>image</td>
        <td>{{product.name}}</td>
        <td>{{product.description}}</td>
        <td>{{product.brand}}</td>
<!-- todo -->
        <td>spices</td>
        <!-- todo -->
        <td>spices</td>
        <td>{{product.price}}</td>
        <td>{{product.quantity}}</td>
        <!-- todo -->
        <td>rate</td>
        <td>{{product.discount}}</td>
      </tr>
    </tbody>
  </table>