<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Service</th>
        <th scope="col">Service Provider</th>
        <th scope="col">Service Type</th>
        <th scope="col">Description</th>
        <th scope="col">price</th>


      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let service of services;let i=index">
        <th scope="row">{{i}}</th>
        <td>{{service.name}}</td>
        <td>{{service.provider}}</td>
        <td>{{service.type}}</td>
        <td>{{service.description}}</td>
        <td>{{service.price}}</td>
      </tr>
    </tbody>
  </table>