<div class="site__body">
  <div class="page-header">
    <div class="page-header__container container">
      <div class="page-header__breadcrumb">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a>
              <svg class="breadcrumb-arrow"
                   width="6px" height="9px">
                <use xlink:href="../../../assets/images/sprite.svg#arrow-rounded-right-6x9"></use>
              </svg>
            </li>
            <li class="breadcrumb-item"><a [routerLink]="['/shop']">Shop</a>
              <svg class="breadcrumb-arrow"
                   width="6px" height="9px">
                <use xlink:href="../../../assets/images/sprite.svg#arrow-rounded-right-6x9"></use>
              </svg>
            </li>
            <li class="breadcrumb-item active" aria-current="page">{{product.name}}
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
  <div class="block">
    <div class="container">
      <div class="product product--layout--standard" data-layout="standard">
        <div class="product__content">
          <!-- .product__gallery -->
          <div class="product__gallery">
            <div class="product-gallery">
              <!-- <div class="product-gallery__featured">
                  <div class="owl-carousel" id="product-image">
                      <ng-template ngFor let-image [ngForOf]="product.images">
                          <a [href]="image.url" target="_blank">
                              <img [src]="image.url" alt="">
                          </a>
                      </ng-template>
                  </div>
              </div>  -->
              <!-- <div class="product-gallery__carousel">
                  <ng-template ngFor let-image [ngForOf]="product.images">
                      <a href="#" class="product-gallery__carousel-item">
                          <img class="product-gallery__carousel-image" [src]="image.url" alt="">
                      </a>
                  </ng-template>
              </div> -->
              <div class="product-gallery__featured">
                <owl-carousel-o [options]="customOptions">
                  <ng-template carouselSlide *ngFor="let image of product.images">
                    <img [src]="image.url">
                  </ng-template>
                </owl-carousel-o>
              </div>
              <div class="product-gallery__carousel">
                <owl-carousel-o [options]="customOptions">
                  <ng-template carouselSlide *ngFor="let image of product.images">
                    <img [src]="image.url">
                  </ng-template>
                </owl-carousel-o>
              </div>
            </div>
          </div>
          <!-- .product__gallery / end -->
          <!-- .product__info -->
          <div class="product__info">
            <div class="product__wishlist-compare">
              <button type="button"
                      class="btn btn-sm btn-light btn-svg-icon" data-toggle="tooltip" data-placement="right"
                      title="Wishlist">
                <svg width="16px" height="16px">
                  <use xlink:href="../../../assets/images/sprite.svg#wishlist-16"></use>
                </svg>
              </button>
              <button type="button" class="btn btn-sm btn-light btn-svg-icon"
                      data-toggle="tooltip" data-placement="right" title="Compare">
                <svg width="16px"
                     height="16px">
                  <use xlink:href="../../../assets/images/sprite.svg#compare-16"></use>
                </svg>
              </button>
            </div>
            <h1 class="product__name">
              {{product.name}}
              <div class="d-inline-block align-text-top product-card__badge product-card__badge--sale">Sale</div>
            </h1>
            <div class="product__rating">
              <div class="product__rating-stars">
                <div class="rating">
                  <div class="rating__body">
                    <svg class="rating__star rating__star--active" width="13px"
                         height="12px">
                      <g class="rating__fill">
                        <use xlink:href="../../../assets/images/sprite.svg#star-normal"></use>
                      </g>
                      <g class="rating__stroke">
                        <use xlink:href="../../../assets/images/sprite.svg#star-normal-stroke">
                        </use>
                      </g>
                    </svg>
                    <div class="rating__star rating__star--only-edge rating__star--active">
                      <div class="rating__fill">
                        <div class="fake-svg-icon"></div>
                      </div>
                      <div class="rating__stroke">
                        <div class="fake-svg-icon"></div>
                      </div>
                    </div>
                    <svg class="rating__star rating__star--active" width="13px" height="12px">
                      <g class="rating__fill">
                        <use xlink:href="../../../assets/images/sprite.svg#star-normal"></use>
                      </g>
                      <g class="rating__stroke">
                        <use xlink:href="../../../assets/images/sprite.svg#star-normal-stroke">
                        </use>
                      </g>
                    </svg>
                    <div class="rating__star rating__star--only-edge rating__star--active">
                      <div class="rating__fill">
                        <div class="fake-svg-icon"></div>
                      </div>
                      <div class="rating__stroke">
                        <div class="fake-svg-icon"></div>
                      </div>
                    </div>
                    <svg class="rating__star rating__star--active" width="13px" height="12px">
                      <g class="rating__fill">
                        <use xlink:href="../../../assets/images/sprite.svg#star-normal"></use>
                      </g>
                      <g class="rating__stroke">
                        <use xlink:href="../../../assets/images/sprite.svg#star-normal-stroke">
                        </use>
                      </g>
                    </svg>
                    <div class="rating__star rating__star--only-edge rating__star--active">
                      <div class="rating__fill">
                        <div class="fake-svg-icon"></div>
                      </div>
                      <div class="rating__stroke">
                        <div class="fake-svg-icon"></div>
                      </div>
                    </div>
                    <svg class="rating__star rating__star--active" width="13px" height="12px">
                      <g class="rating__fill">
                        <use xlink:href="../../../assets/images/sprite.svg#star-normal"></use>
                      </g>
                      <g class="rating__stroke">
                        <use xlink:href="../../../assets/images/sprite.svg#star-normal-stroke">
                        </use>
                      </g>
                    </svg>
                    <div class="rating__star rating__star--only-edge rating__star--active">
                      <div class="rating__fill">
                        <div class="fake-svg-icon"></div>
                      </div>
                      <div class="rating__stroke">
                        <div class="fake-svg-icon"></div>
                      </div>
                    </div>
                    <svg class="rating__star rating__star--active" width="13px" height="12px">
                      <g class="rating__fill">
                        <use xlink:href="../../../assets/images/sprite.svg#star-normal"></use>
                      </g>
                      <g class="rating__stroke">
                        <use xlink:href="../../../assets/images/sprite.svg#star-normal-stroke">
                        </use>
                      </g>
                    </svg>
                    <div class="rating__star rating__star--only-edge rating__star--active">
                      <div class="rating__fill">
                        <div class="fake-svg-icon"></div>
                      </div>
                      <div class="rating__stroke">
                        <div class="fake-svg-icon"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="product__rating-legend">{{product.rates.length}} Reviews</div>
            </div>
            <div class="product__description">{{product.description}}</div>
            <ul class="product__features">
              <li>Speed: 750 RPM</li>
              <li>Power Source: Cordless-Electric</li>
              <li>Battery Cell Type: Lithium</li>
              <li>Voltage: 20 Volts</li>
              <li>Battery Capacity: 2 Ah</li>
            </ul>
            <ul class="product__meta">
              <li class="product__meta-availability">
                Availability: <span class="text-success">{{product.quantity > 0 ? 'In Stock' : 'Out Of Stock'}}</span>
              </li>
              <li>Brand: <a href="#">{{product.brand.name}}</a></li>
              <li>Species: {{product.species.speciesName}}</li>
            </ul>
          </div><!-- .product__info / end -->
          <!-- .product__sidebar -->
          <div class="product__sidebar">
            <div class="product__availability">Availability: <span class="text-success">In
                            Stock</span></div>
            <div class="product__prices">
              <div *ngIf="product.discount != 0; then salePrice else normalPrice"></div>
              <ng-template #salePrice>
                            <span class="product__new-price">{{(product.price - (product.price * product.discount))
                              |
                              currency:'EGP':true}}</span>
                <span class="pl-1 product__old-price">{{product.price | currency:'EGP':true}}</span>
              </ng-template>
              <ng-template #normalPrice>
                {{product.price | currency:'EGP':true}}
              </ng-template>
            </div>
            <!-- .product__options -->
            <form class="product__options">
              <div class="form-group product__option"><label class="product__option-label"
                                                             for="product-quantity">Quantity</label>
                <div class="product__actions">
                  <div class="product__actions-item">
                    <div class="input-number product__quantity"><input id="product-quantity"
                                                                       class="input-number__input form-control form-control-lg"
                                                                       type="number"
                                                                       min="1" value="1">
                      <div class="input-number__add"></div>
                      <div class="input-number__sub"></div>
                    </div>
                  </div>
                  <div class="product__actions-item product__actions-item--addtocart">
                    <button
                      class="btn btn-primary btn-lg">Add to cart
                    </button>
                  </div>
                </div>
              </div>
            </form>
            <!-- .product__options / end -->
          </div>
          <!-- .product__end -->
          <div class="product__footer">
            <div class="product__tags tags">
              <div class="tags__list">
                <a>{{product.category.name}}</a>
              </div>
            </div>
            <!-- <div class="product__share-links share-links">
                <ul class="share-links__list">
                    <li class="share-links__item share-links__item--type--like"><a href="#">Like</a>
                    </li>
                    <li class="share-links__item share-links__item--type--tweet"><a href="#">Tweet</a></li>
                    <li class="share-links__item share-links__item--type--pin"><a href="#">Pin
                            It</a></li>
                    <li class="share-links__item share-links__item--type--counter"><a href="#">4K</a></li>
                </ul>
            </div> -->
          </div>
        </div>
      </div>
    </div>
    <div class="product-tabs">
      <div class="product-tabs__list">
        <div class="product-tabs__item" [class.product-tabs__item--active]="selectedTab == 'description'"
             (click)="selectedTab = 'description'">Description
        </div>
        <div class="product-tabs__item" [class.product-tabs__item--active]="selectedTab == 'reviews'"
             (click)="selectedTab = 'reviews'">Reviews
        </div>
      </div>
      <div [ngSwitch]="selectedTab" class="product-tabs__content">
        <div *ngSwitchCase="'description'" class="product-tabs__pane"
             [class.product-tabs__pane--active]="selectedTab == 'description'" id="tab-description">
          <div class="typography">
            <h3>Product Full Description</h3>
            <p>{{product.description}}</p>
          </div>
        </div>
        <div *ngSwitchCase="'reviews'" class="product-tabs__pane"
             [class.product-tabs__pane--active]="selectedTab == 'reviews'" id="tab-reviews">
          <div class="reviews-view">
            <!-- <div class="reviews-view__list">
                <h3 class="reviews-view__header">Customer Reviews</h3>
                <div class="reviews-list">
                    <ol class="reviews-list__content">
                        <li class="reviews-list__item">
                            <div class="review">
                                <div class="review__avatar"><img
                                        src="../../../assets/images/avatars/avatar-1.jpg" alt=""></div>
                                <div class="review__content">
                                    <div class="review__author">Samantha Smith</div>
                                    <div class="review__rating">
                                        <div class="rating">
                                            <div class="rating__body"><svg
                                                    class="rating__star rating__star--active" width="13px"
                                                    height="12px">
                                                    <g class="rating__fill">
                                                        <use
                                                            xlink:href="../../../assets/images/sprite.svg#star-normal">
                                                        </use>
                                                    </g>
                                                    <g class="rating__stroke">
                                                        <use
                                                            xlink:href="../../../assets/images/sprite.svg#star-normal-stroke">
                                                        </use>
                                                    </g>
                                                </svg>
                                                <div
                                                    class="rating__star rating__star--only-edge rating__star--active">
                                                    <div class="rating__fill">
                                                        <div class="fake-svg-icon"></div>
                                                    </div>
                                                    <div class="rating__stroke">
                                                        <div class="fake-svg-icon"></div>
                                                    </div>
                                                </div><svg class="rating__star rating__star--active"
                                                    width="13px" height="12px">
                                                    <g class="rating__fill">
                                                        <use
                                                            xlink:href="../../../assets/images/sprite.svg#star-normal">
                                                        </use>
                                                    </g>
                                                    <g class="rating__stroke">
                                                        <use
                                                            xlink:href="../../../assets/images/sprite.svg#star-normal-stroke">
                                                        </use>
                                                    </g>
                                                </svg>
                                                <div
                                                    class="rating__star rating__star--only-edge rating__star--active">
                                                    <div class="rating__fill">
                                                        <div class="fake-svg-icon"></div>
                                                    </div>
                                                    <div class="rating__stroke">
                                                        <div class="fake-svg-icon"></div>
                                                    </div>
                                                </div><svg class="rating__star rating__star--active"
                                                    width="13px" height="12px">
                                                    <g class="rating__fill">
                                                        <use
                                                            xlink:href="../../../assets/images/sprite.svg#star-normal">
                                                        </use>
                                                    </g>
                                                    <g class="rating__stroke">
                                                        <use
                                                            xlink:href="../../../assets/images/sprite.svg#star-normal-stroke">
                                                        </use>
                                                    </g>
                                                </svg>
                                                <div
                                                    class="rating__star rating__star--only-edge rating__star--active">
                                                    <div class="rating__fill">
                                                        <div class="fake-svg-icon"></div>
                                                    </div>
                                                    <div class="rating__stroke">
                                                        <div class="fake-svg-icon"></div>
                                                    </div>
                                                </div><svg class="rating__star rating__star--active"
                                                    width="13px" height="12px">
                                                    <g class="rating__fill">
                                                        <use
                                                            xlink:href="../../../assets/images/sprite.svg#star-normal">
                                                        </use>
                                                    </g>
                                                    <g class="rating__stroke">
                                                        <use
                                                            xlink:href="../../../assets/images/sprite.svg#star-normal-stroke">
                                                        </use>
                                                    </g>
                                                </svg>
                                                <div
                                                    class="rating__star rating__star--only-edge rating__star--active">
                                                    <div class="rating__fill">
                                                        <div class="fake-svg-icon"></div>
                                                    </div>
                                                    <div class="rating__stroke">
                                                        <div class="fake-svg-icon"></div>
                                                    </div>
                                                </div><svg class="rating__star" width="13px" height="12px">
                                                    <g class="rating__fill">
                                                        <use
                                                            xlink:href="../../../assets/images/sprite.svg#star-normal">
                                                        </use>
                                                    </g>
                                                    <g class="rating__stroke">
                                                        <use
                                                            xlink:href="../../../assets/images/sprite.svg#star-normal-stroke">
                                                        </use>
                                                    </g>
                                                </svg>
                                                <div class="rating__star rating__star--only-edge">
                                                    <div class="rating__fill">
                                                        <div class="fake-svg-icon"></div>
                                                    </div>
                                                    <div class="rating__stroke">
                                                        <div class="fake-svg-icon"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="review__text">Phasellus id mattis nulla. Mauris
                                        velit nisi, imperdiet vitae sodales in, maximus ut
                                        lectus. Vivamus commodo scelerisque lacus, at porttitor
                                        dui iaculis id. Curabitur imperdiet ultrices fermentum.
                                    </div>
                                    <div class="review__date">27 May, 2018</div>
                                </div>
                            </div>
                        </li>
                        <li class="reviews-list__item">
                            <div class="review">
                                <div class="review__avatar"><img
                                        src="../../../assets/images/avatars/avatar-2.jpg" alt=""></div>
                                <div class="review__content">
                                    <div class="review__author">Adam Taylor</div>
                                    <div class="review__rating">
                                        <div class="rating">
                                            <div class="rating__body"><svg
                                                    class="rating__star rating__star--active" width="13px"
                                                    height="12px">
                                                    <g class="rating__fill">
                                                        <use
                                                            xlink:href="../../../assets/images/sprite.svg#star-normal">
                                                        </use>
                                                    </g>
                                                    <g class="rating__stroke">
                                                        <use
                                                            xlink:href="../../../assets/images/sprite.svg#star-normal-stroke">
                                                        </use>
                                                    </g>
                                                </svg>
                                                <div
                                                    class="rating__star rating__star--only-edge rating__star--active">
                                                    <div class="rating__fill">
                                                        <div class="fake-svg-icon"></div>
                                                    </div>
                                                    <div class="rating__stroke">
                                                        <div class="fake-svg-icon"></div>
                                                    </div>
                                                </div><svg class="rating__star rating__star--active"
                                                    width="13px" height="12px">
                                                    <g class="rating__fill">
                                                        <use
                                                            xlink:href="../../../assets/images/sprite.svg#star-normal">
                                                        </use>
                                                    </g>
                                                    <g class="rating__stroke">
                                                        <use
                                                            xlink:href="../../../assets/images/sprite.svg#star-normal-stroke">
                                                        </use>
                                                    </g>
                                                </svg>
                                                <div
                                                    class="rating__star rating__star--only-edge rating__star--active">
                                                    <div class="rating__fill">
                                                        <div class="fake-svg-icon"></div>
                                                    </div>
                                                    <div class="rating__stroke">
                                                        <div class="fake-svg-icon"></div>
                                                    </div>
                                                </div><svg class="rating__star rating__star--active"
                                                    width="13px" height="12px">
                                                    <g class="rating__fill">
                                                        <use
                                                            xlink:href="../../../assets/images/sprite.svg#star-normal">
                                                        </use>
                                                    </g>
                                                    <g class="rating__stroke">
                                                        <use
                                                            xlink:href="../../../assets/images/sprite.svg#star-normal-stroke">
                                                        </use>
                                                    </g>
                                                </svg>
                                                <div
                                                    class="rating__star rating__star--only-edge rating__star--active">
                                                    <div class="rating__fill">
                                                        <div class="fake-svg-icon"></div>
                                                    </div>
                                                    <div class="rating__stroke">
                                                        <div class="fake-svg-icon"></div>
                                                    </div>
                                                </div><svg class="rating__star" width="13px" height="12px">
                                                    <g class="rating__fill">
                                                        <use
                                                            xlink:href="../../../assets/images/sprite.svg#star-normal">
                                                        </use>
                                                    </g>
                                                    <g class="rating__stroke">
                                                        <use
                                                            xlink:href="../../../assets/images/sprite.svg#star-normal-stroke">
                                                        </use>
                                                    </g>
                                                </svg>
                                                <div class="rating__star rating__star--only-edge">
                                                    <div class="rating__fill">
                                                        <div class="fake-svg-icon"></div>
                                                    </div>
                                                    <div class="rating__stroke">
                                                        <div class="fake-svg-icon"></div>
                                                    </div>
                                                </div><svg class="rating__star" width="13px" height="12px">
                                                    <g class="rating__fill">
                                                        <use
                                                            xlink:href="../../../assets/images/sprite.svg#star-normal">
                                                        </use>
                                                    </g>
                                                    <g class="rating__stroke">
                                                        <use
                                                            xlink:href="../../../assets/images/sprite.svg#star-normal-stroke">
                                                        </use>
                                                    </g>
                                                </svg>
                                                <div class="rating__star rating__star--only-edge">
                                                    <div class="rating__fill">
                                                        <div class="fake-svg-icon"></div>
                                                    </div>
                                                    <div class="rating__stroke">
                                                        <div class="fake-svg-icon"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="review__text">Aenean non lorem nisl. Duis tempor
                                        sollicitudin orci, eget tincidunt ex semper sit amet.
                                        Nullam neque justo, sodales congue feugiat ac, facilisis
                                        a augue. Donec tempor sapien et fringilla facilisis. Nam
                                        maximus consectetur diam. Nulla ut ex mollis, volutpat
                                        tellus vitae, accumsan ligula.</div>
                                    <div class="review__date">12 April, 2018</div>
                                </div>
                            </div>
                        </li>
                        <li class="reviews-list__item">
                            <div class="review">
                                <div class="review__avatar"><img
                                        src="../../../assets/images/avatars/avatar-3.jpg" alt=""></div>
                                <div class="review__content">
                                    <div class="review__author">Helena Garcia</div>
                                    <div class="review__rating">
                                        <div class="rating">
                                            <div class="rating__body"><svg
                                                    class="rating__star rating__star--active" width="13px"
                                                    height="12px">
                                                    <g class="rating__fill">
                                                        <use
                                                            xlink:href="../../../assets/images/sprite.svg#star-normal">
                                                        </use>
                                                    </g>
                                                    <g class="rating__stroke">
                                                        <use
                                                            xlink:href="../../../assets/images/sprite.svg#star-normal-stroke">
                                                        </use>
                                                    </g>
                                                </svg>
                                                <div
                                                    class="rating__star rating__star--only-edge rating__star--active">
                                                    <div class="rating__fill">
                                                        <div class="fake-svg-icon"></div>
                                                    </div>
                                                    <div class="rating__stroke">
                                                        <div class="fake-svg-icon"></div>
                                                    </div>
                                                </div><svg class="rating__star rating__star--active"
                                                    width="13px" height="12px">
                                                    <g class="rating__fill">
                                                        <use
                                                            xlink:href="../../../assets/images/sprite.svg#star-normal">
                                                        </use>
                                                    </g>
                                                    <g class="rating__stroke">
                                                        <use
                                                            xlink:href="../../../assets/images/sprite.svg#star-normal-stroke">
                                                        </use>
                                                    </g>
                                                </svg>
                                                <div
                                                    class="rating__star rating__star--only-edge rating__star--active">
                                                    <div class="rating__fill">
                                                        <div class="fake-svg-icon"></div>
                                                    </div>
                                                    <div class="rating__stroke">
                                                        <div class="fake-svg-icon"></div>
                                                    </div>
                                                </div><svg class="rating__star rating__star--active"
                                                    width="13px" height="12px">
                                                    <g class="rating__fill">
                                                        <use
                                                            xlink:href="../../../assets/images/sprite.svg#star-normal">
                                                        </use>
                                                    </g>
                                                    <g class="rating__stroke">
                                                        <use
                                                            xlink:href="../../../assets/images/sprite.svg#star-normal-stroke">
                                                        </use>
                                                    </g>
                                                </svg>
                                                <div
                                                    class="rating__star rating__star--only-edge rating__star--active">
                                                    <div class="rating__fill">
                                                        <div class="fake-svg-icon"></div>
                                                    </div>
                                                    <div class="rating__stroke">
                                                        <div class="fake-svg-icon"></div>
                                                    </div>
                                                </div><svg class="rating__star rating__star--active"
                                                    width="13px" height="12px">
                                                    <g class="rating__fill">
                                                        <use
                                                            xlink:href="../../../assets/images/sprite.svg#star-normal">
                                                        </use>
                                                    </g>
                                                    <g class="rating__stroke">
                                                        <use
                                                            xlink:href="../../../assets/images/sprite.svg#star-normal-stroke">
                                                        </use>
                                                    </g>
                                                </svg>
                                                <div
                                                    class="rating__star rating__star--only-edge rating__star--active">
                                                    <div class="rating__fill">
                                                        <div class="fake-svg-icon"></div>
                                                    </div>
                                                    <div class="rating__stroke">
                                                        <div class="fake-svg-icon"></div>
                                                    </div>
                                                </div><svg class="rating__star rating__star--active"
                                                    width="13px" height="12px">
                                                    <g class="rating__fill">
                                                        <use
                                                            xlink:href="../../../assets/images/sprite.svg#star-normal">
                                                        </use>
                                                    </g>
                                                    <g class="rating__stroke">
                                                        <use
                                                            xlink:href="../../../assets/images/sprite.svg#star-normal-stroke">
                                                        </use>
                                                    </g>
                                                </svg>
                                                <div
                                                    class="rating__star rating__star--only-edge rating__star--active">
                                                    <div class="rating__fill">
                                                        <div class="fake-svg-icon"></div>
                                                    </div>
                                                    <div class="rating__stroke">
                                                        <div class="fake-svg-icon"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="review__text">Duis ac lectus scelerisque quam
                                        blandit egestas. Pellentesque hendrerit eros laoreet
                                        suscipit ultrices.</div>
                                    <div class="review__date">2 January, 2018</div>
                                </div>
                            </div>
                        </li>
                    </ol>
                    <div class="reviews-list__pagination">
                        <ul class="pagination justify-content-center">
                            <li class="page-item disabled"><a class="page-link page-link--with-arrow"
                                    href="#" aria-label="Previous"><svg
                                        class="page-link__arrow page-link__arrow--left" aria-hidden="true"
                                        width="8px" height="13px">
                                        <use
                                            xlink:href="../../../assets/images/sprite.svg#arrow-rounded-left-8x13">
                                        </use>
                                    </svg></a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item active"><a class="page-link" href="#">2 <span
                                        class="sr-only">(current)</span></a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link page-link--with-arrow" href="#"
                                    aria-label="Next"><svg class="page-link__arrow page-link__arrow--right"
                                        aria-hidden="true" width="8px" height="13px">
                                        <use
                                            xlink:href="../../../assets/images/sprite.svg#arrow-rounded-right-8x13">
                                        </use>
                                    </svg></a></li>
                        </ul>
                    </div>
                </div>
            </div> -->
            <form class="reviews-view__form">
              <h3 class="reviews-view__header">Write A Review</h3>
              <div class="row">
                <div class="col-12 col-lg-9 col-xl-8">
                  <div class="form-row">
                    <div class="form-group col-md-4"><label for="review-stars">Review
                      Stars</label> <select id="review-stars" class="form-control">
                      <option>5 Stars Rating</option>
                      <option>4 Stars Rating</option>
                      <option>3 Stars Rating</option>
                      <option>2 Stars Rating</option>
                      <option>1 Stars Rating</option>
                    </select></div>
                    <div class="form-group col-md-4"><label for="review-author">Your
                      Name</label> <input type="text" class="form-control" id="review-author"
                                          placeholder="Your Name"></div>
                    <div class="form-group col-md-4"><label for="review-email">Email
                      Address</label> <input type="text" class="form-control"
                                             id="review-email" placeholder="Email Address"></div>
                  </div>
                  <div class="form-group"><label for="review-text">Your Review</label>
                    <textarea class="form-control" id="review-text" rows="6"></textarea>
                  </div>
                  <div class="form-group mb-0">
                    <button type="submit"
                            class="btn btn-primary btn-lg">Post Your Review
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- .block-products-carousel -->
<!-- <div *ngIf="relatedProducts.length > 0" class="block block-products-carousel" data-layout="grid-5">
    <div class="container">
        <div class="block-header">
            <h3 class="block-header__title">Related Products</h3>
            <div class="block-header__divider"></div>
            <div class="block-header__arrows-list"><button class="block-header__arrow block-header__arrow--left"
                    type="button"><svg width="7px" height="11px">
                        <use xlink:href="../../../assets/images/sprite.svg#arrow-rounded-left-7x11"></use>
                    </svg></button> <button class="block-header__arrow block-header__arrow--right" type="button"><svg
                        width="7px" height="11px">
                        <use xlink:href="../../../assets/images/sprite.svg#arrow-rounded-right-7x11"></use>
                    </svg></button></div>
        </div>
        <div class="block-products-carousel__slider">
            <div class="block-products-carousel__preloader"></div>
            <div class="owl-carousel">
                <ng-template ngFor let-product [ngForOf]="relatedProducts">
                    <div class="block-products-carousel__column">
                        <app-product [product-item]="product" class="block-products-carousel__cell"></app-product>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</div> -->
<!-- .block-products-carousel / end -->
