
<div class="container">

<div class="card center mt-5 mb-5" style="margin: auto; margin-top: 40px">
  <div class="card-body text-center">
  <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
    <img src="../../../assets/images/status/check.png" alt="success" style="width: 161px;">
  </div>
  <h1>Success</h1>
  <p>Your Order Placed Successfully;<br/> Kindly Check your Email!</p>
  <button class="btn btn-primary" routerLink="/home">Back To Home</button>
</div>
</div>
</div>
