<div class="product-card">
    <div class="product-card__image"><a href="/product/{{product.id}}"><img [src]="product.images[0]?.url"
                alt="Product image"></a></div>
    <div class="product-card__info">
        <div class="product-card__name">
            <a href="/product/{{product.id}}">{{product.name}}</a>
        </div>
        <div class="product-card__rating">
            <div class="rating">
                <div class="rating__body">
                    <svg class="rating__star rating__star--active" width="13px" height="12px">
                        <g class="rating__fill">
                            <use xlink:href="../../../assets/images/sprite.svg#star-normal"></use>
                        </g>
                        <g class="rating__stroke">
                            <use xlink:href="../../../assets/images/sprite.svg#star-normal-stroke">
                            </use>
                        </g>
                    </svg>
                    <div class="rating__star rating__star--only-edge rating__star--active">
                        <div class="rating__fill">
                            <div class="fake-svg-icon"></div>
                        </div>
                        <div class="rating__stroke">
                            <div class="fake-svg-icon"></div>
                        </div>
                    </div>
                    <svg class="rating__star rating__star--active" width="13px" height="12px">
                        <g class="rating__fill">
                            <use xlink:href="../../../assets/images/sprite.svg#star-normal"></use>
                        </g>
                        <g class="rating__stroke">
                            <use xlink:href="../../../assets/images/sprite.svg#star-normal-stroke">
                            </use>
                        </g>
                    </svg>
                    <div class="rating__star rating__star--only-edge rating__star--active">
                        <div class="rating__fill">
                            <div class="fake-svg-icon"></div>
                        </div>
                        <div class="rating__stroke">
                            <div class="fake-svg-icon"></div>
                        </div>
                    </div>
                    <svg class="rating__star rating__star--active" width="13px" height="12px">
                        <g class="rating__fill">
                            <use xlink:href="../../../assets/images/sprite.svg#star-normal"></use>
                        </g>
                        <g class="rating__stroke">
                            <use xlink:href="../../../assets/images/sprite.svg#star-normal-stroke">
                            </use>
                        </g>
                    </svg>
                    <div class="rating__star rating__star--only-edge rating__star--active">
                        <div class="rating__fill">
                            <div class="fake-svg-icon"></div>
                        </div>
                        <div class="rating__stroke">
                            <div class="fake-svg-icon"></div>
                        </div>
                    </div>
                    <svg class="rating__star rating__star--active" width="13px" height="12px">
                        <g class="rating__fill">
                            <use xlink:href="../../../assets/images/sprite.svg#star-normal"></use>
                        </g>
                        <g class="rating__stroke">
                            <use xlink:href="../../../assets/images/sprite.svg#star-normal-stroke">
                            </use>
                        </g>
                    </svg>
                    <div class="rating__star rating__star--only-edge rating__star--active">
                        <div class="rating__fill">
                            <div class="fake-svg-icon"></div>
                        </div>
                        <div class="rating__stroke">
                            <div class="fake-svg-icon"></div>
                        </div>
                    </div>
                    <svg class="rating__star" width="13px" height="12px">
                        <g class="rating__fill">
                            <use xlink:href="../../../assets/images/sprite.svg#star-normal"></use>
                        </g>
                        <g class="rating__stroke">
                            <use xlink:href="../../../assets/images/sprite.svg#star-normal-stroke">
                            </use>
                        </g>
                    </svg>
                    <div class="rating__star rating__star--only-edge">
                        <div class="rating__fill">
                            <div class="fake-svg-icon"></div>
                        </div>
                        <div class="rating__stroke">
                            <div class="fake-svg-icon"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-card__rating-legend">{{product.rates.length}} Reviews</div>
        </div>
        <ul class="product-card__features-list">
            <li>Category: {{product.category.name}}</li>
            <li>Brand: {{product.brand.name}}</li>
            <li>Species: {{product.species.speciesName}}</li>
        </ul>
    </div>
    <div class="product-card__actions">
        <div class="product-card__availability">Availability: <span class="text-success">In Stock</span></div>
        <div class="product-card__prices">{{product.price | currency:'EGP':true}}</div>
        <div class="product-card__buttons">
            <button class="btn btn-primary product-card__addtocart" type="button">Add To Cart
            </button>
            <button class="btn btn-secondary product-card__addtocart product-card__addtocart--list" type="button">Add To
                Cart
            </button>
        </div>
    </div>
</div>